<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/output.css">
  <title>c_profile</title>
  <style>
    .header-profile-bg {
      background-image: url("/assets/images/c_profile/Main-01.png");
      background-color: white;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 400px;
    }

    @media (min-width: 768px) {
      .header-profile-bg {
        height: 520px;
      }
    }

    .mission_bg {
      background-image: url("/assets/images/c_profile/Mission Bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .green-overlay {
      background-color: rgba(48, 78, 16, .8);
      width: 100%;
      height: 100%;
    }

    .vision-bg {
      background-image: url("/assets/images/c_profile/Vission Bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .yellow-overlay {
      background-color: rgba(166, 123, 29, 0.856);
      width: 100%;
      height: 100%;
    }

    .footer-overlay {
      background-image: url("/assets/images/Products/Fotter-01.png");
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>

  <div class="header bg-[#211e1e]">
    <%- include('../header') %>
    <div class="header-profile-bg bg-cover bg-bottom py-36 px-32">
      <h1 class="uppercase text-7xl text-white font-bold">Company Profile</h1>
    </div>
  </div>

  <div class="px-14 py-20 text-center">
    <p class="w-3/6 mx-auto text-xl mb-12">Rice categories vary in processing methods, influencing flavor, texture and
      nutrition. Choice depends on personal preference and dish requirements</p>
  </div>

  <div class="mission_bg bg-cover ">
    <div class="green-overlay px-8 m-full py-12 w-full ">
      <div class="flex justify-evenly">
       
        <div class=" text-white mr-8">
          <div class="w-96 h-96">
            <img src="/assets/images/c_profile/Mission 1.png" alt="">
          </div>
        </div>
        <div class="w-1/3">
          <h2 class="text-5xl text-left uppercase font-bold text-white mb-6">Vision</h2>
          <p class=" h-1 w-full text-xl text-white text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quia voluptatem quam quod, facilis temporibus quis culpa ad
            ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.lorem40 Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ratione expedita odio sit perspiciatis corrupti molestias distinctio quas possimus nisi,
            veritatis quia ex minima deleniti quam natus neque inventore, nesciunt culpa voluptate nihil vitae cum
            atque! Illo ullam obcaecati impedit deleniti! </p>
        </div>
      </div>
    </div>
  </div>

  <div class="vision-bg bg-cover ">
    <div class="yellow-overlay px-8 m-full py-12 w-full ">
      <div class="flex justify-evenly">
       
        <div class=" text-white mr-8">
          <div class="w-96 h-96">
            <img src="/assets/images/c_profile/vission 1-03.png" alt="">
          </div>
        </div>
        <div class="w-1/3">
          <h2 class="text-5xl text-left uppercase font-bold text-white mb-6">Mission</h2>
          <p class=" h-1 w-full text-xl text-white text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quia voluptatem quam quod, facilis temporibus quis culpa ad
            ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.lorem40 Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ratione expedita odio sit perspiciatis corrupti molestias distinctio quas possimus nisi,
            veritatis quia ex minima deleniti quam natus neque inventore, nesciunt culpa voluptate nihil vitae cum
            atque! Illo ullam obcaecati impedit deleniti! </p>
        </div>
      </div>
    </div>
  </div>
  <%- include('../footer') %>
</body>

</html>