<form action="/add-to-cart" method="post">
    <input type="hidden" value="<%= product._id %>" name="productId">
    <button type=" add to cart"
        class="w-auto bg-black text-white py-2 mb-3 px-4 hover:bg-yellow-500 focus:outline-none font-bold"
        style="margin-left: 50px;">
        ADD TO CART
    </button>
</form>