<div class=" p-2 bg-[#211e1e]  ">
    <nav class=" flex bg-[#5a4f33] px-12  rounded-b-3xl justify-between items-center ">
      <!-- <div class="logo w-48"><img src="/assets/images/Products/logo-removebg.png" alt="logo"></div> -->
      <div class="logo w-48"><img src="/assets/images/Products/logo-removebg.png" alt="logo"></div>
      <div>
        <ul class="text-white flex  ">
          <li class="hover:text-[#eca728] p-4 font-bold uppercase hover:scale-110 transition-all"><a href="/">Home</a>
          </li>
          <li class="hover:text-[#eca728] hover:scale-110 p-4 font-bold uppercase
        transition-all"><a href="/cprofilePage">Company Profile</a></li>
          <li class="hover:text-[#eca728] hover:scale-110 p-4 font-bold uppercase transition-all"><a
              href="/productsPage">Product</a>
          </li>
          <li class="hover:text-[#eca728]  hover:scale-110 p-4 font-bold uppercase transition-all"><a href="/bPackagingPage">Branding
              & Packaging</a></li>
          <li class="hover:text-[#eca728]  hover:scale-110 p-4 font-bold uppercase transition-all"><a
              href="/contact">Contact Us</a>
          </li>
          <li class="hover:text-[#eca728]  hover:scale-110 p-4 font-bold uppercase transition-all"><a
              href="/loginPage">LOGIN</a>
          </li>
        </ul>
      </div>
      <div>

        <svg id="cart-icon" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 cursor-pointer stroke-[#eca728] fill-[#eca728]"
        viewBox="0 0 24 24">
        <path
          d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z" />
  </svg>

      </div>
    </nav>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#add-to-cart-button').click(function(e) {
      e.preventDefault();

      $.ajax({
        url: '/add-to-cart',
        type: 'post',
        data: {
          productId: $('#product-id').val(),
          quantity: $('#quantity').val()
        },
        success: function() {
          // Update the SVG icon here
          $('#cart-icon').attr('fill', 'red');
        }
      });
    });
  });
</script>