<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GrainGlory</title>
  <link rel="stylesheet" href="/assets/output.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://kit.fontawesome.com/5d0cd66e4b.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

 

<body>

  <div id="home">
  <%- include('./header') %>
    <div>

      <div class="flex flex-col items-center mt-12 home-page">
        <img src="/assets/images/index/gg-tag.png" alt="..." width="350px">
        <div class="flex flex-col items-center custom-position-p">
          <p class="text-white  p-3 rounded">Discover a selection of top tier rice offerings
            meticulously <br>
            curated from the most exceptional farms worldwide, <br> showcasing our commitment to provide primium quality
          </p>
          <button class="bg-custom uppercase text-white hover:text-yellow-500 p-2 font-bold mt-4 w-32">Order
            Now</button>
        </div>
      </div>

    </div>

  </div>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>
  
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="/assets/images/brandingPackaging/1.bg.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Basic Rate
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">bag</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$35</p>
          </div>
        </div>

        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="/assets/images/brandingPackaging/5-bg.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Rate
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500"> bag</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div>
          </div>

          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="/assets/images/brandingPackaging/3.bg.avif" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Rate
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">bag</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div>
          </div>

          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="/assets/images/brandingPackaging/4.bg.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Rate
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">bag</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div>
          </div>
  
        <!-- More products... -->
      </div>
    </div>
  </div>

 <%- include('./footer.ejs') %>
  <script>
    var message = "<%= messages.info %>";
    if (message.length > 0) {
      var title = "Info";
      var icon = "info";
  
      if (message.includes('Successfully')) {
        title = "Success!";
        icon = "success";
      } else if (message.includes('Error') || message.includes('Failed')) {
        title = "Error!";
        icon = "error";
      }
  
      swal({
        title: title,
        text: message,
        icon: icon,
        button: "OK",
      });
    }
  </script>
</body>

</html>