<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GrainGlory</title>
  <link rel="stylesheet" href="/assets/output.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://kit.fontawesome.com/5d0cd66e4b.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

 

<body>

  <div id="home">
  <%- include('./header') %>
    <div>

      <div class="flex flex-col items-center mt-12 home-page">
        <img src="/assets/images/index/gg-tag.png" alt="..." width="350px">
        <div class="flex flex-col items-center custom-position-p">
          <p class="text-white  text-lg bg-black opacity-20 p-3 rounded">Discover a selection of top tier rice offerings
            meticulously <br>
            curated from the most exceptional farms worldwide, <br> showcasing our commitment to provide primium quality
          </p>
          <button class="bg-custom uppercase text-white hover:text-yellow-500 p-2 font-bold mt-4 w-32">Order
            Now</button>
        </div>
      </div>
    </div>
  </div>

  <div id="contact_us">
    <div class="flex items-center border-r-2 border-white border-hide">
      <div>
        <img src="/assets/images/index/logo-f.svg" alt="" width="200px">
      </div>
      <div class="p-4">
        <p class="text-white">GrainGlory founded in 2011 Mohammad Bashir Ahmed <br> is dedicated to supplying rice all
          over Pakistan</p>
        <div>
          <a href="#" class="text-white"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="text-white"><i class="fa-solid fa-envelope-open"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
    
   <footer>
    <div class="p-4">
      <h1 class="font-bold text-white">Locations</h1>
      <p class="text-white"><i class="fa fa-location "></i> Chak 226 KHURRIANWALA, KARIANWALA ROAD FAISALABAD</p>
      <P class="text-white"><i class="fa-brands fa-whatsapp "></i> +92 301 6048755</P>
      <P class="text-white"><i class="fa-solid fa-envelope-open "></i>grainglory266@gmail.com</P>
    </div>
   </footer>
  </div>
  <script>
    var message = "<%= messages.info %>";
    if (message.length > 0) {
      var title = "Info";
      var icon = "info";
  
      if (message.includes('Successfully')) {
        title = "Success!";
        icon = "success";
      } else if (message.includes('Error') || message.includes('Failed')) {
        title = "Error!";
        icon = "error";
      }
  
      swal({
        title: title,
        text: message,
        icon: icon,
        button: "OK",
      });
    }
  </script>
</body>

</html>