<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/output.css">
  <title>Branding And Packaging</title>
  <style>
    .header-packaging-bg {
      background-image: url("/assets/images/brandingPackaging/main1.bg.png");
    }

    .basmati-rice-bg {
      background-image: url("/assets/images/brandingPackaging/main2.bg.jpg");
    }

    /* .green-overlay {
      background-color:rgb(164, 151, 151);
      width: 100%;
      height: 100%;
    } */


    /* .non-basmati-rice-bg {
      background-image: url("/assets/images/Products/NON-BANASMATI RICE.jpg");
    }

    .yellow-overlay {
      background-color: rgba(166, 123, 29, 0.856);
      width: 100%;
      height: 100%;
    } */

    .footer-overlay {
      background-image: url("/assets/images/Products/Fotter-01.png");
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <!-- nav start-->
  <div class="header bg-[#211e1e]">

   <%- include('../header') %>
    <!-- nav end-->

    <!-- section 0 start-->
    <div class=" header-packaging-bg bg-cover bg-bottom  py-36 px-32">
      <h1 class="uppercase text-5xl text-white font-bold justify-center">Branding & Packaging</h1>
    </div>
  </div>

  <div class=" basmati-rice-bg bg-cover text-center">
    <div class="green-overlay px-16 py-12">
      <!-- <h2 class="text-5xl uppercase font-bold text-white mb-4">pakistani basmati Rice</h2> -->
      <div class="flex justify-between flex-wrap">
        <div class="w-96 text-white">
          <!-- <img class="w-96 h-96" src="/assets/images/Products/PK-198-Banasmati.png" alt=""> -->
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest"> MOTIDANA </h3>
          <p class=" w-76 text-center mx-auto justify-text">
            Being one of the largest rice exporter of Pakistan, Al-Asad Rice Mills has 
            launched its own flagship brand Motidana Basmati Rice. 
            It has natural fragrance and delicate flavor. The organization’s 
            essential aspect is to provide quality excellence and customer satisfaction
             is being delivered by our brand Motidana Basmati Rice..</p>
             
             <button type=" add to cart"
                class="w-auto bg-black text-white py-2 mb-3 px-4 hover:bg-yellow-500 focus:outline-none font-bold"
                style="margin-left: 50px;">
                Visit Website
            </button>
          </div>
    </div>
</div>
</div>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>
  
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="/assets/images/brandingPackaging/1.bg.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Basic Rate
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">bag</p>
            </div>
            <p class="text-sm font-medium text-gray-900">$35</p>
          </div>
        </div>

        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="/assets/images/brandingPackaging/5-bg.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Rate
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500"> bag</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div>
          </div>

          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="/assets/images/brandingPackaging/3.bg.avif" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Rate
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">bag</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div>
          </div>

          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <img src="/assets/images/brandingPackaging/4.bg.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Rate
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">bag</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div>
          </div>
  
        <!-- More products... -->
      </div>
    </div>
  </div>

  <%- include('../footer') %>
    <!-- footer end-->
</body>

</html>