<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/output.css">
  <title>products</title>
  <style>
    .header-product-bg {
      background-image: url("/assets/images/Products/Header-02.png");
    }

    .basmati-rice-bg {
      background-image: url("/assets/images/Products/BANASMATI RICE.jpg");
    }

    .green-overlay {
      background-color: rgba(48, 78, 16, .8);
      width: 100%;
      height: 100%;
    }


    .non-basmati-rice-bg {
      background-image: url("/assets/images/Products/NON-BANASMATI RICE.jpg");
    }

    .yellow-overlay {
      background-color: rgba(166, 123, 29, 0.856);
      width: 100%;
      height: 100%;
    }

    .footer-overlay {
      background-image: url("/assets/images/Products/Fotter-01.png");
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <!-- nav start-->
  <div class="header bg-[#211e1e]">

   <%- include('../header') %>
    <!-- nav end-->

    <!-- section 0 start-->

    <div class=" header-product-bg bg-cover bg-bottom  py-36 px-32">
      <h1 class="uppercase text-7xl text-white font-bold">products</h1>
    </div>
  </div>
  <!-- section 0 end-->
  <!-- ============================================================== -->
  <!-- section 1 (multifaceted option)        start-->
  <div class="px-14 py-20  text-center">
    <h2 class="text-5xl uppercase font-bold text-[#5a5334] mb-4">multifaceted Options</h2>
    <p class=" w-3/6  mx-auto text-xl mb-12">Rice catagories vary in processing methods,influencing flavor, texture and
      nutrition. Choice depends on persoonal preference and dish requirements</p>
    <div class="flex flex-wrap justify-center">
      <!-- rice card 1 -->
      <div class=" w-96">
        <a href="/skBasmatiPage"><img class="h-96" src="/assets/images/Products/White Rice.png" alt="white-rice"></a>
        <h3 class="font-bold text-4xl text-[#eba629] mb-6">White Rice</h3>
        <p class="text-lg text-center">Lorem ipssit amet consectetur adipisicing elit. Aperiam nobis dolorem ratione
          consectetur similique atque asperiores cumque molest</p>
      </div>
      <!-- rice card 2 -->
      <div class=" w-96 ">
        <img class="h-96" src="/assets/images/Products/Parboiled Rice.png" alt="white-rice">
        <h3 class="font-bold text-4xl text-[#eba629] mb-6">Parboiled Rice</h3>
        <p class="text-lg text-center">Lorem ipssit amet consectetur adipisicing elit. Aperiam nobis dolorem ratione
          consectetur similique atque asperiores cumque molest</p>
      </div>
      <!-- rice card 3 -->
      <div class=" w-96">
        <img class="h-96" src="/assets/images/Products/Steam Rice.png" alt="white-rice">
        <h3 class="font-bold text-4xl text-[#eba629] mb-6">Steam Rice</h3>
        <p class="text-lg text-center">Lorem ipssit amet consectetur adipisicing elit. Aperiam nobis dolorem ratione
          consectetur similique atque asperiores cumque molest</p>
      </div>
      <!-- rice card 4 -->
      <div class=" w-96">
        <img class="h-96" src="/assets/images/Products/Brown Rice.png" alt="white-rice">
        <h3 class="font-bold text-4xl text-[#eba629] mb-6">Brown Rice</h3>
        <p class="text-lg text-center">Lorem ipssit amet consectetur adipisicing elit. Aperiam nobis dolorem ratione
          consectetur similique atque asperiores cumque molest</p>
      </div>
    </div>
  </div>
  <!-- section 1 (multifaceted option)        end-->
  <!-- ============================================================== -->
  <!-- section 2 (pakistani basmati rice)     start-->
  <div class=" basmati-rice-bg bg-cover text-center">
    <div class="green-overlay px-16 py-12">
      <h2 class="text-5xl uppercase font-bold text-white mb-4">pakistani basmati Rice</h2>
      <div class="flex justify-between flex-wrap">
        <!-- card 1 -->
        <div class="w-96 text-white">
          <a href="/skBasmatiPage"><img class="w-96 h-96" src="/assets/images/Products/PK-1121-Benasmati.png" alt=""></a>
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest">Super Kernel Basmati</h3>
          <p class=" w-72 text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem
            quam quod, facilis temporibus quis culpa ad ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.</p>
        </div>
        <!-- card 2 -->
        <div class="w-96 text-white">
          <img class="w-96 h-96" src="/assets/images/Products/PK-198-Banasmati.png" alt="">
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest">Pk-198 Basmati</h3>
          <p class=" w-72 text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem
            quam quod, facilis temporibus quis culpa ad ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.</p>
        </div>
        <!-- card 3 -->
        <div class="w-96 text-white">
          <img class="w-96 h-96" src="/assets/images/Products/SUPER KERNAL BANAMATI.png" alt="">
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest">PK-1121 Basmati</h3>
          <p class=" w-72 text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem
            quam quod, facilis temporibus quis culpa ad ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- section 2 (pakistani basmati rice)     end-->
  <!-- ============================================================== -->
  <!-- section 3 (pakistani non basmati rice) start-->
  <div class=" non-basmati-rice-bg bg-cover text-center ">
    <div class="yellow-overlay px-8 py-12 text-center ">
      <h2 class="text-5xl uppercase font-bold text-white mb-4">pakistani NON basmati Rice</h2>
      <div class="flex justify-around flex-wrap">
        <!-- card 1 -->
        <div class="w-96 text-white">
          <img class="w-96 h-96" src="/assets/images/Products/IRRI-9.png" alt="">
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest">IRRI-9</h3>
          <p class=" w-72 text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem
            quam quod, facilis temporibus quis culpa ad ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.</p>
        </div>
        <!-- card 2 -->
        <div class="w-96 text-white">
          <img class="w-96 h-96" src="/assets/images/Products/IRRI-6.png" alt="">
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest">IRRI-6</h3>
          <p class=" w-72 text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem
            quam quod, facilis temporibus quis culpa ad ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.</p>
        </div>
        <!-- card 3 -->
        <div class="w-96 text-white">
          <img class="w-96 h-96" src="/assets/images/Products/PK-386.png" alt="">
          <h3 class="font-extrabold text-2xl mb-6 uppercase tracking-widest">PK-386</h3>
          <p class=" w-72 text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem
            quam quod, facilis temporibus quis culpa ad ex aperiam atque rem ea alias cum reiciendis quos vitae est
            soluta magnam nulla officia sed, perferendis odit. Non.</p>
        </div>


      </div>
    </div>
  </div>
  <!-- section 3 (pakistani non basmati rice) end-->
  <!-- ============================================================== -->
  <!-- footer start-->
  <%- include('../footer') %>
    <!-- footer end-->
</body>

</html>